@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary ;
  }
  .dropdown {
    @apply w-full lg:max-w-[296px] cursor-pointer;
  }
  .dropdown-btn {
    @apply flex h-[64px] items-center px-[18px] border rounded-lg;
  }
  .dropdown-icon-primary {
    @apply text-2xl mr-[18px] text-blue-700;
  }
  .dropdown-icon-secondary {
    @apply text-2xl text-blue-700 ml-auto;
  }
  .dropdown-menu {
    @apply px-6 py-8 text-[15px] text-[#060822] bg-white space-y-6 shadow-lg absolute w-full z-10 list-none rounded-lg;
  }
}

body{
    background-color:#090D2B;
    color:#FFF;
}

.sign-in{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn,
.btn-google{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.btn:hover{
background-color: #FFF;
outline: 2px solid #1D9FEF;
color:#1D9FEF;
transform: scaleX(1);
}

.btn-google:hover{
    background-color: #FFF;
    outline: 2px solid #f60c0c;
    color:#f60c0c;
    transform: scaleX(1);
}

.or::before,
.or::after{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card {
  width: 255px;
  padding: 1em;
  margin: 1.8em;
  background-color: #060822;
  border-radius: 0.5em;
  box-shadow: rgba(9, 13, 35, 0.2) 0px 2px 8px 0px;
}

.card-logo {
  width: 100%;
  margin-bottom: 0.6em;
}

.shimmer__card__logo {
  padding: 2.4em;
  background-color: #272C64;
}

.shimmer__card__title {
  padding: 0.4em;
  background-color: #272C64;
}